extends layout

block content
    #reactComponent
    #photoUploader
    //form#uploadPhoto(method='post' action='/photos/upload' enctype='multipart/form-data')
    //    input(type='file' name='photo')
    //    input(type='submit' value='Upload')