doctype html
html
  head
    title= title
    meta(content="width=device-width")
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    block content
  script(src='/react/react.js', type='text/javascript')
  //script(src='/react/react-dom.js', type='text/javascript')
  //script(src='/bundle.js', type='text/javascript')
  script(src='/main.bundle.js', type='text/javascript')
