extends layout

block content
    input(type='button' name='fullScreen' value='full screen' onClick="window.open(document.location, 'big', 'fullscreen=yes')")
    #photoWall
    script(src='photoWall.bundle.js', type='text/javascript')