#photoWall{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 640px;
  transform: translate(-50%, -50%);
}
.photo-wall-container{
  //background-color: #d20000;
  //border-radius: 5px;
}
.photo-wall-container, .photo-show-container{
  position: relative;
  width: 1024px;
  height: 640px;
  //text-align: center;
}
.photo-wall-container .preview{
  width: 102.4px;
  height: 91.4px;
  padding: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.preview.selected{
  -webkit-filter: blur(0px);
}

.photo-container{
  position: absolute;
  width: 102.4px;
  height: 91.4px;
}

.photo-info{
  position: absolute;
  width: 480px;
  height: 340px;
  left: 300px;
  top: 100px;
  background-color: coral;
  border-radius: 5px;
  padding:10px;
}
.photo-info h3{
  padding: 0;
  margin:0;
}
.photo-info-img{
  width: 480px;
  height: 280px;
  border-radius: 5px;
 }

.photo-info-left{
  left: 3px;
}

.photo-show-container{
  position: absolute;
  width: 800px;
  height: 362px;
  left: 62px;
  top: 90px;
  border-radius: 5px;
  padding: 50px;
  color: #ffffff;
  font-size: 130%;
  background: url("/stylesheets/DialogBox.png") no-repeat;
  background-position-y: 0px;
}

.put-down{
  width: 500px;
  height: 100px;
  left: 290px;
  top: 420px;
  background-color: coral;
  border-radius: 5px;
}

.photo-hiding{
  display: none;
}
.photo-showing{
  display: block;
}
.photo-show-container .view{
  width: 329px;
  height: 220px;
  margin-top: 38px;
  margin-left: 39px;
  box-shadow: 5px 5px 5px #aaa;
}
.put-down .view{
  width: 80px;
  height: 80px;
}



.view.say-to{
  float: right;
  margin-right: 60px;
}

.photo-show-container .comments {
  display: inline-block;
  vertical-align: top;
  padding: 50px;
  overflow: hidden;
  overflow-y: auto;
}

.info{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  background: url("/stylesheets/Titlebg.png") repeat-x;
  height: 180px;
  margin-top: 50px;
  margin-left: 40px;
  padding-top: 20px;

}
.info h3{
  margin: 0;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.info p{
  width: 300px;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
}

.saying-info{
  background: none;
  color: #000;
  font-family: sans-serif;
}

.saying-info h3{
}

.put-down .info{

}

.saying-info p{
  color: #c01130;
}

.say-span{
  display: block;
  border-bottom: 2px solid;
  padding: 5px 0;
  margin-bottom: 10px;
}
.say-name{
  font-size: 20px;
  font-weight: bold;
}

